<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
    <style>
        tr.error {
            background-color: red;
            color: white;
        }
        tr.info {
            background-color: gold;
            color: black;
        }
        thead {
            background-color: darkcyan;
            color: white;
        }
        td.white {
            color: white;
        }
        td.blue {
            color: blue;
        }
    </style>
    <title>Home Page</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container" align="center">
    <div th:replace="fragments/navigator :: navigator">&nbsp;</div>
    <hr/>
    <table>
        <thead align="center">
        <td th:if="${date}==null">дата</td>
        <td th:text="${date}">время</td>
        <td><a th:href="@{/order/login}">логин</a></td>
        <td><a th:href="@{/order/ip}">IP адрес</a></td>
        <td><a th:href="@{/order/phone}">ID устройства</a></td>
        <td>
            <a th:href="@{/order/date}"> информация </a>
            /
            <a th:href="@{/errors}"> только ошибки и регистрации </a>
        </td>
        <td></td>
        </thead>
        <div class="row" th:with="group=null">
            <tr th:each="message : ${messages}"
                th:class="${message.title eq 'ERROR'}? 'error' : (${'' eq message.phone} ?'info':'')">
                <td th:if="${date}==null" th:width="100" align="center" th:class="${message.print}?'blue':'white'">
                    [[${message.date}]]
                </td>
                <td th:width="100" align="center">[[${message.id}]]</td>
                <td align="center" width="120">
                    <a th:href="@{/filter/{id}(id=${message.login})}">
                        [[${message.login}]]
                    </a>
                </td>
                <td th:width="120" align="center">[[${message.ip}]]</td>
                <td th:width="150" align="center">[[${message.phone}]]</td>
                <td th:width="555">[[${message.text}]]</td>
                <td th:with="group=${message.date}"><a href="#"></a></td>
            </tr>
        </div>
    </table>
    <hr/>
    <div th:replace="fragments/navigator :: navigator">&nbsp;</div>
    <br>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>